<div th:fragment="component" xmlns:th="http://www.thymeleaf.org">
    <h4 class="mt-4">Contato</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="email-label">Email:</span>
                <input type="email" th:field="*{email}" id="email" class="form-control" placeholder="email@example.com" aria-describedby="email-label"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Telefone:</span>

                <select th:field="*{telefone.tipoTelefone.id}" id="tipoTelefone" class="form-select" required>
                    <option value="" disabled selected>Selecione</option>
                    <option th:each="b : ${tiposTelefone}" th:value="${b.id}" th:text="${b.descricao}"></option>
                </select>

                <select th:field="*{telefone.ddd.id}" id="ddd" class="form-select" required>
                    <option value="" disabled selected>Selecione</option>
                    <option th:each="b : ${ddds}" th:value="${b.id}" th:text="${b.numero}"></option>
                </select>

                <input type="text" th:field="*{telefone.numero}" id="numero" class="form-control" placeholder="Número"/>
            </div>
        </div>
    </div>
</div>
