<div class="row" th:fragment="component" xmlns:th="http://www.thymeleaf.org">
    <input type="hidden" th:field="*{enderecosEntrega[0].id}" />
    <input type="hidden" th:field="*{enderecosEntrega[0].cidade.id}" />

    <h4 class="mt-2">Endereço de Entrega</h4>

    <div class="col-3">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="tipoLogradouro-label">Tipo de Logradouro:</span>
            <select th:field="*{enderecosEntrega[0].tipoLogradouro.id}"
                    id="tipoLogradouro" class="form-select" aria-describedby="tipoLogradouro-label" required>
                <option value="" disabled selected>Selecione</option>
                <option th:each="b : ${logradouros}" th:value="${b.id}" th:text="${b.descricao}"></option>
            </select>
        </div>
    </div>

    <div class="col-md-4">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="logradouro-label">Logradouro:</span>
            <input type="text" th:field="*{enderecosEntrega[0].logradouro}" id="logradouro" class="form-control" aria-describedby="logradouro-label" required/>
        </div>
    </div>

    <div class="col-3">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="tipoResidencial-label">Tipo Residencial:</span>
            <select th:field="*{enderecosEntrega[0].tipoResidencial.id}"
                    id="tipoResidencial" class="form-select" aria-describedby="tipoResidencial-label" required>
                <option value="" disabled>Selecione</option>
                <option th:each="b : ${tiposResidencial}" th:value="${b.id}" th:text="${b.descricao}"></option>
            </select>
        </div>
    </div>

    <div class="col-md-2">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="numeroEndereco-label">Número:</span>
            <input type="text" th:field="*{enderecosEntrega[0].numero}" id="numeroEndereco" class="form-control" aria-describedby="numeroEndereco-label" required/>
        </div>
    </div>

    <div class="col-md-3">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="bairro-label">Bairro:</span>
            <input type="text" th:field="*{enderecosEntrega[0].bairro}" id="bairro" class="form-control" aria-describedby="bairro-label" required/>
        </div>
    </div>

    <div class="col-md-3">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="cep-label">CEP:</span>
            <input type="text" th:field="*{enderecosEntrega[0].cep}" id="cep" class="form-control" aria-describedby="cep-label" required/>
        </div>
    </div>

    <div class="col-md-3">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="descricaoCidade-label">Cidade:</span>
            <input type="text" th:field="*{enderecosEntrega[0].cidade.descricao}" id="descricaoCidade" class="form-control" aria-describedby="descricaoCidade-label" required/>
        </div>
    </div>

    <div class="col-md-3">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="estadoCidade-label">Estado:</span>
            <select th:field="*{enderecosEntrega[0].cidade.estado.id}" id="estadoCidade" class="form-select" aria-describedby="estadoCidade-label" required>
                <option value="" disabled selected>Selecione</option>
                <option th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.descricao}"></option>
            </select>
        </div>
    </div>
</div>
