<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="components/header :: header"></div>
<div class="container mt-2">
    <h2 class="mb-2" th:text="${modoEdicao} ? 'Editar Cliente' : 'Cadastro de Cliente'">Cadastro de Cliente</h2>

    <form th:action="${modoEdicao} ? @{'/clientes/editar'} : @{/clientes}"
          th:object="${cliente}" method="post" id="form">
        <input type="hidden" th:field="*{id}" />

        <div th:replace="components/dados-pessoais :: component"></div>
        <div th:replace="components/contato :: component"></div>
        <div th:replace="components/enderecoE :: component"></div>
        <div th:replace="components/enderecoC :: component"></div>
        <div th:replace="components/cartao :: component"></div>

        <button type="submit"
                class="btn btn-success mt-4 mb-3 px-5 py-2"
                style="width: 200px;"
                th:text="${modoEdicao} ? 'Salvar' : 'Cadastrar'">
        </button>

        <a th:if="${modoEdicao}"
           th:href="@{'/clientes/excluir/' + ${cliente.id}}"
           class="btn btn-danger mt-4 mb-3 px-4 py-2 ms-2"
           style="width: 140px;">
            Excluir
        </a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
    $('#cpf').mask('000.000.000-00');
    $('#form').on('submit', function() {
      let cpf = $('#cpf').val().replace(/\D/g, '');
      $('#cpf').val(cpf);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
